
;looks like something like this
Device "WCPU":
{
	alias = "WCPU"
	handle =
	{

		mono =
		{
			module = "libsim_dev_wcpu_vm"
		}

		port =
		{


			basic =
			{

			}
		}

	}

	wires = ["wire_ram1", "wire_ram2", "wire_interupt"]

	resources = "local"
	

}



wire